<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>

    <!-- Conexión a la base de datos -->
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/abarrotes_db</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">180818</property>

    <!-- Dialecto de MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Configuración adicional -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Mapeo de clases -->
    <mapping class="Mapeos.Producto"/>
    <mapping class="Mapeos.Empleado" />
    <mapping class="Mapeos.Cliente" />
    <mapping class="Mapeos.Empresa" />
    <mapping class="Mapeos.Estado" />
    <mapping class="Mapeos.Inventario" />

  </session-factory>

</hibernate-configuration>

